.editor-wrapper {
    border: 2px solid #dadce0;
    width: 100%;
    margin: 2rem 0;
    border-radius: 1rem;
}

.ProseMirror {
    height: calc(100vh - 300px);
    padding: 0 2rem;
    overflow: auto;
}

.ProseMirror:active {
    outline: none;
}

.ProseMirror:focus {
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 1rem;
}

.ProseMirror p {
    font-size: 1.2rem;
    padding: 1rem 0 0 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    color: var(--text-color);
    pointer-events: none;
    height: 0;
}